.card {
  display: flex;
  flex-direction: column;

  box-shadow: 20px 20px 40px 0 rgba(216, 222, 226, 0.67),
    -10px -10px 40px 0 rgba(216, 222, 226, 0.4),
    -20px -20px 40px 0 rgba(255, 255, 255, 0.5);

  transition: 0.35s box-shadow cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: 0.35s transform cubic-bezier(0.165, 0.84, 0.44, 1);

  &:hover {
    box-shadow: 20px 20px 40px 0 rgba(216, 222, 226, 0.9),
      -10px -10px 40px 0 rgba(216, 222, 226, 0.7),
      -20px -20px 40px 0 rgba(255, 255, 255, 0.8);
  }

  &:active {
    transform: translateY(-7px);
  }

  border-radius: var(--border-radius);

  .card__container {
    display: flex;
    flex-direction: column;
  }

  .card__info {
    margin: 0;
    padding: var(--spacing-mx);
    background-color: #f1f2f630;
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
  }

  & > .card__header {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
    position: relative;
  }

  .card__actions {
    position: absolute;
    z-index: 9999;
    bottom: 0;
  }
}
