@import "src/styles/vars";

.TextInput--plain.TextInput,
.SelectInput--plain.SelectInput {
  &__input {
    &.field--invalid {
      border: none;
    }
  }
}

.TextInput--primary.TextInput,
.SelectInput--primary.SelectInput {
  &__input {
    &.field--invalid {
      border: 2px solid var(--warn-color);
    }
  }
  &__input__container {
    border: 2px solid var(--border-color);

    &.field--invalid {
      border: 2px solid var(--warn-color);
    }
  }
}

.TextInput,
.SelectInput {
  &__input {
    width: 100%;
    height: 100%;
    padding: var(--spacing-m) var(--spacing-m);
    border: none;
    font-size: 1em;

    &:focus {
      outline: none;
    }
  }

  &__drop__container {
    max-height: 300px;
    @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
      width: 100%;
    }
    overflow: auto;
  }
  &__input__container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  &__placeholder {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    pointer-events: none;
  }
  &__icon {
    display: flex;
    align-self: center;
    pointer-events: none;
  }

  &__icon + &__input {
    padding-left: 0;
  }
  &__suggestions {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  &__suggestion {
    display: flex;
    padding: var(--spacing-s);
    align-content: flex-start;
  }

  &--single {
    width: 50px;
  }
}
