@import "src/styles/vars";

.ListingCreateForm {
  padding: var(--spacing-xl) var(--spacing-xl);
  overflow-y: auto;
  :global .title {
    @include type-header-l;
    margin-bottom: var(--spacing-m);
  }
}
