@import "src/styles/vars";

.select {
  &__options {
    position: relative;
    scroll-behavior: smooth;
    overflow: auto;
    outline: none;
  }

  &__option {
  }

  &__option-btn {
    display: block;
    width: 100%;
  }

  &__option-empty {
  }
}
