.card {
  display: flex;
  flex-direction: column;

  box-shadow: 20px 20px 40px 0 rgba(216, 222, 226, 0.67),
    -20px -20px 40px 0 rgba(255, 255, 255, 0.5);
  border-radius: var(--border-radius);

  .card__container {
    display: flex;
    flex-direction: column;
  }

  .card__info {
    margin: 0;
    padding: var(--spacing-mx);
    background-color: #f1f2f630;
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
  }

  & > .card__header {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
    position: relative;
  }

  .card__actions {
    position: absolute;
    z-index: 9999;
    bottom: 0;
  }
}
