@import "src/styles/vars";

.Input {
  padding: var(--spacing-m) var(--spacing-m);
  border: 2px solid var(--border-color);

  font-size: 1em;

  &:focus {
    outline: none;
    border-color: var(--highlight-color);
  }

  &-large {
    @include type-header-m;
  }

  &.field--invalid {
    border: 2px solid var(--warn-color);
  }
}
